.img{
    width: 600px;
    height: 500px;
}

h1{
    margin-left: 40%;
  
   
  display: inline-block;
}
/* =====popular destination====== */

h3{
  margin-top: 30px;
  margin-left: 105px;
  font-size: 32px;
}
.had{
  margin-left: 50px;
 padding-top: 30px;
 
}
/* ===custom-btn==== */


.custom-btn{
border-radius: 2rem;
background-color: aliceblue;
}

.sppn{
  margin-left: 20px;
  font-size: 25px;
  padding-top: 20px;
}
.cus-btn{
  margin-top: 30px;
  border-radius: 2rem;
  background-color: aliceblue;
  margin-right: 15px;

}

.custom-color{
  background-color: whitesmoke;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
 
}
/* ===horizontal line=== */
.custome-line{
 border: 1px solid orange;
 background-color: var(#f2b209);
}

/* ===bali-save-btn=== */
.bali-btn{
  border-radius: 2rem;
  background-color: aliceblue;
 
  height: auto;
 width: 90px;
}

.custom-con{
  overflow: hidden;
  box-sizing: border-box;
 
  margin: 0;
 
}

.custom-baali{
width: 40%;

}

.custom-saave{
width: 60%;

}
/* ===bali-img=== */
.cap-img{
 border-radius: 15px;
}
/* ===bali-paragrph=== */
.custom-paragraph{
  font-family: 'Roboto', sans-serif;
}

.custom-great{
  font-weight: bold;
  font-size: 15px;
}